DNSDUMPSTER_API_KEY=
VIRUSTOTAL_API_KEY=

VIRUSTOTAL_API_DELAY=16
VIRUSTOTAL_MAX_PAGES=0

C99_SCAN_DATE=
C99_INCLUDE_HIDDEN=1
C99_LOOKBACK_DAYS=14
C99_DATE_CACHE_TTL=86400

SUBR3CON_CT_PROVIDER=auto
CERTSPOTTER_API_KEY=
CERTSPOTTER_MAX_PAGES=1

SUBR3CON_HTTP_RETRIES=2
SUBR3CON_HTTP_BACKOFF=0.5
SUBR3CON_HTTP_RETRY_MAX_WAIT=8
SUBR3CON_HTTP_CACHE=1
SUBR3CON_CACHE_TTL=900
SUBR3CON_CACHE_DIR=

SUBR3CON_BRUTE_MAX_NAMES=1000
SUBR3CON_TIMING=3
# SUBR3CON_BRUTE_THREADS=40
# SUBR3CON_DNS_TIMEOUT=1
# SUBR3CON_DNS_LIFETIME=2
SUBR3CON_PROGRESS_INTERVAL=10
# SUBR3CON_WORDLIST=/path/to/names.txt
SUBR3CON_RESOLVERS=system
SUBR3CON_VERIFY_RESOLVERS=1
SUBR3CON_MAX_RESOLVERS=50
SUBR3CON_WILDCARD_CHECK=1
SUBR3CON_WILDCARD_PROBES=3
SUBR3CON_MUTATIONS=0
SUBR3CON_MUTATION_MAX=500
